* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

nav {

    height: 80px;
    width: 100%;
    position: fixed;

}

label.logo {
    color: black;
    font-size: 20px;
    line-height: 80px;
    padding-left: 25px;
}

nav ul {
    float: right;
    margin-right: 20px;

}

nav ul li {
    display: inline;
    line-height: 80px;
    margin: 0 20px;
}

a {
    color: black;
}

a.active,
a:hover {
    color: rgb(16, 208, 208);
    transition: .2s;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.container {
    height: 600px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background: radial-gradient(#fff, #ffd6d6);

}

.container img {
    max-width: 50%;
    height: 500px;
}

.hero-text h1 {
    font-size: 2rem;
}

.hero-text {
    width: 350px;
    font-weight: bold;
    padding: 0;
}

.hero-text p {
    font-size: 0.9rem;
    margin-bottom: 20px;
    color: rgb(127, 120, 120);
}

button {
    background-color: #fe533c;
    padding: 5px;
    width: 150px;
    border-radius: 15px;
    color: white;
    border: none;
}

.box2 {
    height: 300px;
    width: auto;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box2 img {
    margin-left: 50px;
    height: auto;
    max-width: 80%;
    padding: 10px;

}
.feature{
    text-align: center;
    justify-content: center;
    margin-top: 150px;
}
.gallery{
    width: 100%;
    margin-top: 25px;
    display: flex;
}

.content{
    width: 25%;
    /* box-sizing: border-box; */
    text-align: center;
    margin-left: 40px;
    
}
.content img {
    padding-top: 60px;
    max-width: 80%;
    height: 100%;
    text-align: center;
    
}
.content ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.content .checked{
    color: red;
}
.mid-section {
    margin-top: 120px;
    display: flex;
 }
 .content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(1rem, 3rem);
 }

 .user-all{
    margin-top: 40px;
 }
 .small-box{
    display: flex;
    max-width: auto;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
 }
 .review{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px;
    
 }
 .review ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.review img{
    width: 80px;
    border-radius: 50%;
    margin-top: 10px;
}
.brands{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    filter: grayscale(100%);
    cursor: pointer;

}
.footer-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
    background-color: black;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-box1{
    flex-basis: 33%;
    /* min-width: 250px; */
}
.footer-image1 img{
    width: 120px;
}
.footer-box2{
    text-align: center;
    flex: 33%;
    max-width: 300px;
}
.footer-box2 img{
    width: 160px;
}
.footer-box3{
    flex-basis: 33%;
    text-align: center;
}
.footer-box4{
    text-align: center;
}
.fa-copyright{
    color: white;
    background-color: black;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

 @media (max-width: 952px) {
    label.logo {
        font-size: 20px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }

}

@media (max-width:500px) {
    .container {
        flex-direction: column;
    }

    .hero-text {
        margin-top: 50px;
        width: 100%;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 1.5rem;
    }

    .box2 img{
        flex-basis: 100%;
    }
    
    
}
@media (max-width:500px){
    .gallery{
        display: grid;
        border: 2px solid blue;
        box-sizing: border-box;
        margin-top: 900px;
        padding: 50px;
        justify-content: center;
        max-width: auto;
        
        
    }
}

